body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeinout 10s infinite;
  }
  
  @keyframes fadeinout {
    0%, 100% { background-image: url('../../public/images/wgc-bg.jpg'); }
    50% { background-image: url('../../public/images/wgc1.jpg'); }
  }
  